body{
    display:inline;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
    background-color: #071E3D;
    color:white;
}
a{
    color:  rgb(4, 4, 100);
}

a:hover{
    color:white;
}

#privacy-policy,#terms-and-conditions,#cancellation-and-refund,#contact{
    margin:1em;
}
